/* Menüyü sağdan açmak için gerekli stil */
.shift {
    transform: translateX(-250px); /* Menü genişliğine göre ayarlayın */
    transition: transform 0.3s ease;
}

/* İçeriğin kayması için gerekli stil */
.layout.shift {
    transform: translateX(-250px); /* Menü genişliğine göre ayarlayın */
    transition: transform 0.3s ease;
}

.header {
    overflow: hidden;
    background-color: aliceblue;
    padding: 20px 10px;
}

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

.header-right {
    float: right;
    display:flex;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
/* Orta boy mobil cihazlar için medya sorgusu */
@media (max-width: 768px) {
    .section-header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-header h4 {
        font-size: 1.2rem;
        text-align: center;
    }

    /* Kart kenar boşluklarını azaltma */
    .card {
        margin: 10px;
    }

    /* Tablo başlıklarını ve hücrelerini küçültme */
    .table th, .table td {
        font-size: 0.9rem;
        padding: 8px;
        text-align: center;
    }

    /* "Detaylar" butonlarının boyutunu küçültme */
    .btn {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    /* Responsive tablo görünümü */
    .table-responsive {
        overflow-x: auto;
    }
}






.loginSection {
    padding-top: 115px;
    background-image: url('/Content/Images/loginagencybg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative; /* Pozisyonu relative yaparak ::after için referans oluşturuyoruz */
}

    .loginSection::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit; /* Arka plan resmini miras alır */
        filter: blur(10px); /* Arka planı bulanıklaştırır */
        z-index: -1; /* İçeriğin önünde olmasını sağlar */
    }

    .color-red{
        color:red;
    }  
    .color-green{
        color:green;
    }