
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link href="~/Content/css/custom.css" rel="stylesheet" />


<section class="loginSection">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                @*<div class="login-brand">
                        <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>*@

                <div class="card card-primary">
                    <div class="card-header"><h4>Admin Girişi</h4></div>

                    <div class="card-body">
                        @using (Html.BeginForm("Admin", "Login", FormMethod.Post))
                        {
                            if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.ErrorMessage
                                </div>
                            }
                            <div class="form-group">
                                <label for="email">Kullanıcı Adı</label>
                                <input id="username" type="text" class="form-control" name="UserName" tabindex="1" autofocus>
                                <div class="invalid-feedback">
                                    Lütfen kullanıcı adı alanını doldurunuz
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-block">
                                    <label for="password" class="control-label">Şifre</label>
                                    <div class="float-right">

                                    </div>
                                </div>
                                <input id="password" type="password" class="form-control" name="Password" tabindex="2">
                                <div class="invalid-feedback">
                                    Lütfen Şifre alanını doldurunuz
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                    <label class="custom-control-label" for="remember-me">Beni Hatırla</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                    Giriş Yap
                                </button>
                            </div>
                        }
                    </div>



                </div>
            </div>

        </div>
    </div>
</section>

