
@{
    Layout = null;
}

<section class="section">
    <div class="container">
        <div class="row" >
            <div class="col-12 ">
                <div class="card card-primary">

                    <div class="card-body" >

                        <form id="changePasswordForm">
                            <div class="form-group">
                                <label for="UserName">E-Mail</label>
                                <input id="email" type="text" class="form-control" name="email">
                            </div>

                            <div class="form-group">
                                <label for="newPassword">Yeni Şifre</label>
                                <input id="newPassword" name="newPassword" type="password" class="form-control">
                                <div class="checkpassword">
                                    <input style="position: absolute; left: -147px; top: 271px;" type="checkbox" id="showPassword" class="showpasswordinput">
                                    <label style="position: absolute; left: 45px; top: 267px;" class="showpasswordlabel" for="showPassword">Şifreyi Göster</label>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">Yeni Şifre Tekrar</label>
                                <input id="confirmPassword" type="password" class="form-control" name="confirmPassword">
                            </div>

                            <div class="form-group">
                                <button type="button" onclick="SendVerificationCode()" class="btn btn-primary btn-lg btn-block">
                                    Şifreyi Yenile
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

