
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link href="~/Content/css/custom.css" rel="stylesheet" />


<section class="loginSection">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                @*<div class="login-brand">
                        <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>*@

                <div class="card card-primary">
                    <div class="card-header"><h4>Kayıt Ol</h4></div>

                    <div class="card-body">
                        <form id="createAgencyForm" method="post">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="FirstName">İsim</label>
                                    <input id="FirstName" type="text" class="form-control" name="FirstName">
                                </div>
                                <div class="form-group col-6">
                                    <label for="LastName">Soyisim</label>
                                    <input id="LastName" type="text" class="form-control" name="LastName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="AgencyName">Acente Adı</label>
                                    <input id="AgencyName" type="text" class="form-control" name="AgencyName">
                                </div>

                                <div class="form-group col-6">
                                    <label>Telefon Numarası</label>
                                    <input type="text" class="form-control" id="Phone" name="Phone">
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label for="Email">Email</label>
                                <input id="Email" type="email" class="form-control" name="Email">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="row">
                                <!-- Şifre Alanı -->
                                <div class="form-group col-md-4">
                                    <label for="Password" class="d-block">Şifre</label>
                                    <input id="Password" type="password" class="togglePassword form-control" name="Password">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="ConfirmPassword" class="d-block">Şifre Tekrar</label>
                                    <input id="ConfirmPassword" type="password" class="togglePassword form-control" name="ConfirmPassword">
                                </div>

                                <div class="form-group col-md-4 d-flex align-items-center mt-3">
                                    <div class="form-check">
                                        <input type="checkbox" id="showPassword" class="form-check-input">
                                        <label class="form-check-label" for="showPassword">Şifreyi Göster</label>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="TursabNo">Türsab Numarası</label>
                                    <input id="TursabNo" type="text" class="form-control" name="TursabNo" autofocus>
                                </div>
                                <div class="form-group col-6">
                                    <label>Faaliyet Bölgesi</label>
                                    <select class="form-control selectric" id="Region" name="Region">
                                        <option selected value="Kapadokya">Kapadokya</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>TC Kimlik No</label>
                                    <input type="text" class="form-control" id="IdentityNo" name="IdentityNo">
                                </div>
                                <div class="form-group col-6">
                                    <label>Vergi Kimlik No</label>
                                    <input type="text" class="form-control" id="TaxNo" name="TaxNo">
                                </div>

                            </div>

                            <div class="form-group">
                                <button type="button" onclick="register()" class="btn btn-primary">
                                    Kaydet
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/js/Login.js"></script>

