<form id="EditReservationForm">
    <div id="EditReservationModal">
        <div class="form-group">
            <label for="FirstName">Müşteri Adı*</label>
            <input id="FirstName" type="text" class="form-control" name="FirstName" value="">
        </div>
        <div class="form-group">
            <label for="LastName">Müşteri Soyadı*</label>
            <input id="LastName" type="text" class="form-control" name="LastName" value="">
        </div>
        <div class="form-group">
            <label for="Phone">Telefon Numarası*</label>
            <input id="Phone" type="text" class="form-control" name="Phone" value="">
        </div>
        <div class="form-group">
            <label for="HotelName">Otel Adı*</label>
            <input id="HotelName" type="text" class="form-control" name="HotelName" value="">
        </div>
        <div class="form-group">
            <label for="PassportNo">Pasaport Numarası</label>
            <input id="PassportNo" type="text" class="form-control" name="PassportNo" value="">
        </div>
        <div class="form-group">
            <label for="CustomerCount">Kişi Sayısı</label>
            <input id="CustomerCount" type="text" class="form-control" name="CustomerCount" value="">
        </div>
        <div class="form-group">
            <label for="HotelRoomNo">Oda Numarası</label>
            <input id="HotelRoomNo" type="text" class="form-control" name="HotelRoomNo" value="">
        </div>
        <input type="hidden" name="ReservationId" id="ReservationId" value="" />

        <button type="button" id="updateReservationBtn" onclick="updateReservation()" class="btn btn-primary">Rezervasyonu Güncelle</button>
    </div>
</form>
