@{
    ViewBag.Title = "AtvTurları";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@Html.Partial("~/Views/Shared/sharedpartial/_Calendar.cshtml")

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="~/Content/css/fullcalendar.min.css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/theme.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Takvim</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row">
                                <div id='calendar' class="col-lg-9 col-md-8 mt-3 mt-lg-0">

                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- container-fluid -->
    </div>

    <!-- jQuery ve Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery UI ve Moment -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <!-- FullCalendar ve özel script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/calendar-demo.js"></script>

    <!-- Uygulama Özel Scriptler -->
    <script src="~/Scripts/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Waves/0.7.6/waves.min.js"></script>


</body>

