@{
    ViewBag.Title = "CustomerSettings";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Şifre Yenileme</h4></div>

                        <div class="card-body">
                            <form id="changePasswordForm" method="POST">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="Mail" tabindex="1"  autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="password">Yeni Şifre</label>
                                    <input id="password" type="password" class="form-control" name="Password" tabindex="2" >
                                </div>

                                <div class="form-group">
                                    <label for="password-confirm">Şifreyi Onayla</label>
                                    <input id="password-confirm" type="password" class="form-control" name="ConfirmPassword" tabindex="2" >
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Şifreyi Yenile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script>
    $(document).ready(function() {
        $('#changePasswordForm').on('submit', function(e) {
            e.preventDefault(); 

            var email = $('#email').val();
            var newPassword = $('#password').val();
            var confirmPassword = $('#password-confirm').val();

            $.ajax({
                url: '@Url.Action("ChangePassword", "Customer")',
                type: 'POST',
                data: {
                    email: email,
                    newPassword: newPassword,
                    confirmPassword: confirmPassword
                },
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Başarılı!',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Tamam'
                        });
                    } else {
                        Swal.fire({
                            title: 'Hata!',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        title: 'Hata!',
                        text: 'Bir hata oluştu, lütfen tekrar deneyin.',
                        icon: 'error',
                        confirmButtonText: 'Tamam'
                    });
                }
            });
        });
    });
</script>
