@model List<EntityLayer.Concrete.Reservation>

@{
    ViewBag.Title = "Edit-Rezervation";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h5>Rezervasyon Düzenle</h5>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Düzenle</h4>
                    </div>
                    <div class="card-body">
                      
                            <table id="EditReservation" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Telefon</th>
                                        <th>Otel Adı</th>
                                        <th>Pasaport Numarası</th>
                                        <th>Oda Numarası</th>
                                        <th>Kapasite</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Rezervasyon Tarihi</th>
                                        <th>Durumu</th>
                                        <th>Aksiyon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
