@model List<EntityLayer.Concrete.Reservation>

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Rezervasyonlar</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Oluşturduğum Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div id="data-container" class="table-responsive">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Telefon</th>
                                        <th>Otel Adı</th>
                                        <th>Pasaport Numarası</th>
                                        <th>Oda Numarası</th>
                                        <th>Kişi Sayısı</th>
                                        <th>ABC</th>
                                    </tr>
                                </thead>


                            </table>
                            <ul id="context-menu" class="dropdown-menu" style="display: none; position: absolute;">
                                <li><a href="#" id="context-edit">Düzenle</a></li>
                                <li><a href="#" id="context-delete">Sil</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

