@model List<EntityLayer.Concrete.Reservation>

@{
    ViewBag.Title = "EditRezervation";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="section">
    <div class="section-header">
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Oluşturduğum Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div id="data-container" class="table-responsive">
                            <table id="EditReservation" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Telefon</th>
                                        <th>Otel Adı</th>
                                        <th>Pasaport Numarası</th>
                                        <th>Oda Numarası</th>
                                        <th>Kişi Sayısı</th>
                                    </tr>
                                </thead>


                            </table>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

