
@{
    Layout = null;
}


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/all.min.css">

   

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
  
    </script>
    <!-- /END GA -->
</head>


<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row" style="padding-right:272px;">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    

                    <div class="card card-primary">
                        <div class="card-header"><h4>Rezervasyon Oluştur</h4></div>

                        <div class="card-body">
                            <form method="POST">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="frist_name">Müşteri Adı*</label>
                                        <input id="frist_name" type="text" class="form-control" name="frist_name" autofocus>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Müşteri Soyadı*</label>
                                        <input id="last_name" type="text" class="form-control" name="last_name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Telefon Numarası*</label>
                                    <input id="email" type="email" class="form-control" name="email">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Otel Adı*</label>
                                        <input id="password" type="text" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block">Pasapot Numarası</label>
                                        <input id="password2" type="text" class="form-control" name="password-confirm">
                                    </div>
                                </div>


                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Kişi Sayısı</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Oda Numarası</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Rezervasyonu Onayla
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> 
    <!-- General JS Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/stisla.js"></script>



    <!-- Template JS File -->
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/custom.js"></script>
</div>




