
@{
    Layout = null;
}





<div class="card card-primary">
    <div class="card-header">
        <div class="form-group col-6">
            <label for="remainingCapacity">Kalan Kapasite</label>
            <input id="remainingCapacity" type="text" class="form-control" name="remainingCapacity" >
        </div>
    </div>
    <input type="hidden" name="ReservationDay" id="ReservationDay" />
    <input type="hidden" name="ReservationHour" id="ReservationHour" />
    <div class="card-body">
        <form id="createReservationForm">
            <input type="hidden" name="TourType" id="TourType"/>
            <input type="hidden" name="CustomerCount" id="CustomerCount"/>
            <div class="row">
                <div class="form-group col-6">
                    <label for="FirstName">Müşteri Adı*</label>
                    <input id="FirstName" type="text" class="form-control" name="FirstName" autofocus>
                </div>
                <div class="form-group col-6">
                    <label for="LastName">Müşteri Soyadı*</label>
                    <input id="LastName" type="text" class="form-control" name="LastName">
                </div>
            </div>
            <div class="row">

                <div class="form-group col-6">
                    <label for="Phone">Telefon Numarası*</label>
                    <input id="Phone" type="email" class="form-control" name="Phone">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="PassportNo" class="d-block">Pasaport Numarası</label>
                    <input id="PassportNo" type="text" class="form-control" name="PassportNo">
                </div>
            </div>
           

            <div class="row">
                <div class="form-group col-6">
                    <label for="HotelName" class="d-block">Otel Adı*</label>
                    <input id="HotelName" type="text" class="form-control pwstrength" data-indicator="pwindicator" name="HotelName">
                    <div id="pwindicator" class="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Oda Numarası</label>
                    <input type="text" class="form-control" name="HotelRoomNo" id="HotelRoomNo">
                </div>
                
            </div>
            


            <div class="row">
                <div class="form-group col-12">
                    <button type="button" onclick="createReservation()" class="btn btn-primary btn-lg btn-block col-12">
                        Rezervasyonu Onayla
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>







