
<div class="panel panel-default">

    <section class="section">
        <div class="section-header">
            <h1>Detaylar</h1>

        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Bilgi Türü</th>
                                <th>Detay</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><span class="text-job text-primary">İsim Soyisim</span></td>
                                <td id="NameSurname"> </td>
                            </tr>
                            <tr>
                                <td><span class="text-job">Telefon Numarası</span></td>
                                <td id="Phone"></td>
                            </tr>
                            <tr>
                                <td><span class="text-job">Otel Adı</span></td>
                                <td id="HotelName"></td>
                            </tr>
                            <tr>
                                <td><span class="text-job">Oda Numarası</span></td>
                                <td id="RoomNo"></td>
                            </tr>
                            <tr>
                                <td><span class="text-job">Kişi Sayısı</span></td>
                                <td id="Pax"></td>
                            </tr>
                            <tr>
                                <td><span class="text-job">Pasaport Numarası</span></td>
                                <td id="PassportNo"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


