
@{
    Layout = null;
}

<head>


    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/components.css">
</head>
<div>
    <div class="panel panel-default">
        <div class="panel-body">

            <section class="section">
                <div class="section-header">
                    <h1>Detaylar</h1>

                </div>
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bilgi Türü</th>
                                        <th>Detay</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td><span class="text-job text-primary">İsim Soyisim</span></td>
                                        <td id="NameSurname"> </td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-job">Telefon Numarası</span></td>
                                        <td id="Phone"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-job">Otel Adı</span></td>
                                        <td id="HotelName"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-job">Oda Numarası</span></td>
                                        <td id="RoomNo"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-job">Kişi Sayısı</span></td>
                                        <td id="Pax"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="text-job">Pasaport Numarası</span></td>
                                        <td id="PassportNo"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- General JS Scripts -->
                <script src="~/Scripts/waves.js"></script>
                <script src="~/Scripts/jquery.min.js"></script>
                <script src="~/Scripts/popper.js"></script>
                <script src="~/Scripts/tooltip.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>
                <script src="~/Scripts/nicescroll/jquery.nicescroll.min.js"></script>
                <script src="~/Scripts/moment.min.js"></script>
                <script src="~/Scripts/stisla.js"></script>
                <!-- JS Libraies -->
                <!-- Page Specific JS File -->
                <!-- Template JS File -->
                <script src="~/Content/js/scripts.js"></script>
            </section>
        </div>
    </div>
</div>
