@model RedHorseProject.Models.ViewModel.EditReservationViewModel

@{
    Layout = null;
}

<div>
    <h2>Rezervasyon Detayları</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <section class="section">
                <div class="section-header">
                    <h1>Detaylar</h1>
                </div>
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">

                            @Html.Partial("_EditReservationPartial")

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
