@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";


}
<div class="bottom-panel bottom-panel--floating">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="turSec">Tur Seçiniz:</label>
                <select id="TourType1" name="TourType1" class="form-control">
                    <option value="seçiniz" disabled selected>Seç</option>
                    <option value="horse">At Turu</option>
                    <option value="atv">ATV Turu</option>
                    <option value="jeep">Jeep Safari Turu</option>
                    <option value="ballon">Balon Turu</option>
                    <option value="camel">Deve Turu</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group2 col-12 col-md-4 dropdown">
                <div class="closeDropdown" id="dropdownSurelerAction" data-toggle="dropdown" data-display="static">
                    <label class="labelFeature" for="sure">Tur Tarihi</label>
                    <input type="date" class="inputFeature input-arrow readonly" id="reservationDay1" placeholder="Seçin" autocomplete="off">
                </div>

                <div class="dropdown-menu dropdown-menu-lg-left dropdown-menu-right" id="dropdownSureler" aria-labelledby="dropdownSurelerAction">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="reservationHour1">Saat Seçiniz:</label>
                <select id="reservationHour1" name="reservationHour1" class="form-control">
                    <option value="seçiniz" disabled selected>Seç</option>
                    @for (int i = 0; i < 25; i++)
                    {
                        <option value="@(i < 10 ? "0" + i.ToString() : i.ToString()):00">@i:00</option>

                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="CustomerCount">Kişi Sayısı:</label>
                <input type="text" name="CustomerCount1" id="CustomerCount1" value="" />
            </div>
        </div>
        <div class="col-md-3">
            <button href="" onclick="openCreateReservationModal()" class="btn-booking">Rezervasyon Oluştur</button>
        </div>
    </div>

    <section class="">
        <h1>Tur Seçenekleri</h1>
        <div class="tour-card">
            <h2>10.00 Turu</h2>
            <p>Otel çıkışlı transfer hizmeti veya kendi araçlarıyla gelen misafirler için. Otelinizden alınarak kolaylıkla turumuza katılabilirsiniz ya da kendi aracınızla tur başlangıç noktasına ulaşabilirsiniz. Size en uygun seçeneği tercih edin ve keyifli bir gün geçirin.</p>
        </div>
        <div class="tour-card">
            <h2>11.00 Turu</h2>
            <p>Mustafapaşa - Ürgüp - Ortahisar transferli veya kendi aracınızla katılım. Kapadokya'nın eşsiz güzelliklerini keşfedeceğiniz bu turda transfer hizmetimizden yararlanabilir ya da kendi ulaşımınızla bu büyüleyici destinasyonları ziyaret edebilirsiniz.</p>
        </div>
        <div class="tour-card">
            <h2>12.00 Turu</h2>
            <p>Kendi aracınızla katılım. Bu tur, kendi ulaşımını sağlamayı tercih eden misafirlerimiz için idealdir. Programın keyfini kendi hızınızda çıkarabilirsiniz.</p>
        </div>
        <div class="tour-card">
            <h2>13.00 Turu</h2>
            <p>Uçhisar - Göreme - Avanos transferli veya kendi ulaşımınızla katılım. Bölgenin en gözde noktalarını ziyaret edeceğiniz bu tur için transfer hizmetimizden faydalanabilir ya da kendi aracınızla katılabilirsiniz.</p>
        </div>
        <div class="tour-card">
            <h2>14.00 Turu</h2>
            <p>Kendi ulaşımını sağlayan misafirlerimiz için. Daha bağımsız bir tur deneyimi yaşamak isteyenler için kendi aracınızla katılım seçeneği sunuyoruz.</p>
        </div>
        <div class="tour-card">
            <h2>15.00 Turu</h2>
            <p>Gün batımı turu (2 saat). Günün en güzel anını, Kapadokya'nın muhteşem gün batımı eşliğinde yaşayın! Yaklaşık 2 saat süren bu tur, unutulmaz bir atmosferde tamamlanacak.</p>
        </div>
    </section>
</div>
