@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<section class="">
    <div class="section">

        <div class="section-header">
            <h1>Tur Seçenekleri</h1>
        </div>

    </div>

    <div class="tour-card">
        <h2>10.00 Turu</h2>
        <p>Otel çıkışlı transfer hizmeti veya kendi araçlarıyla gelen misafirler için. Otelinizden alınarak kolaylıkla turumuza katılabilirsiniz ya da kendi aracınızla tur başlangıç noktasına ulaşabilirsiniz. Size en uygun seçeneği tercih edin ve keyifli bir gün geçirin.</p>
    </div>
    <div class="tour-card">
        <h2>11.00 Turu</h2>
        <p>Mustafapaşa - Ürgüp - Ortahisar transferli veya kendi aracınızla katılım. Kapadokya'nın eşsiz güzelliklerini keşfedeceğiniz bu turda transfer hizmetimizden yararlanabilir ya da kendi ulaşımınızla bu büyüleyici destinasyonları ziyaret edebilirsiniz.</p>
    </div>
    <div class="tour-card">
        <h2>12.00 Turu</h2>
        <p>Kendi aracınızla katılım. Bu tur, kendi ulaşımını sağlamayı tercih eden misafirlerimiz için idealdir. Programın keyfini kendi hızınızda çıkarabilirsiniz.</p>
    </div>
    <div class="tour-card">
        <h2>13.00 Turu</h2>
        <p>Uçhisar - Göreme - Avanos transferli veya kendi ulaşımınızla katılım. Bölgenin en gözde noktalarını ziyaret edeceğiniz bu tur için transfer hizmetimizden faydalanabilir ya da kendi aracınızla katılabilirsiniz.</p>
    </div>
    <div class="tour-card">
        <h2>14.00 Turu</h2>
        <p>Kendi ulaşımını sağlayan misafirlerimiz için. Daha bağımsız bir tur deneyimi yaşamak isteyenler için kendi aracınızla katılım seçeneği sunuyoruz.</p>
    </div>
    <div class="tour-card">
        <h2>15.00 Turu</h2>
        <p>Gün batımı turu (2 saat). Günün en güzel anını, Kapadokya'nın muhteşem gün batımı eşliğinde yaşayın! Yaklaşık 2 saat süren bu tur, unutulmaz bir atmosferde tamamlanacak.</p>
    </div>
</section>

