<div class="modal fade" id="PagesSmall" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="Body" style="border-right-width:0px"></div>
    </div>
</div>
