@model List<EntityLayer.Concrete.Agency>
@{
    ViewBag.Title = "Acenta Başvuruları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="section-header">

        <h1>Acente Başvuruları</h1>

    </div>
</section>
<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Onay Bekleyen Başvurular</h4>
                </div>
                <div class="card-body">
                    <table class="table" id="unAprrovedAgencies">
                        <thead>
                            <tr>

                                <th>Acente Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Katılma Tarihi</th>
                                <th>Telefon Numarası</th>
                                <th>Mail Adresi</th>
                                <th>Vergi Numarası</th>
                                <th>Tursab Numarası</th>
                                <th>Tc No</th>
                                <th>Bölge</th>
                                <th>Onayla</th>
                                <th>Reddet</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            
            </div>
        </div>
    </div>

</div>

