
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
</head>
<body>

    <section class="section">
        
            <div class="section-header">
                <h1>Yeni Kayıt</h1>

            </div>
        </section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2" style="display:flex;justify-content:center;">
                   

                    <div class="card card-primary">
                        <div class="card-header"><h4>Yeni Kayıt</h4></div>

                        <div class="card-body">
                            <form id="createAgencyForm">
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="FirstName">İsim</label>
                                        <input id="FirstName" type="text" class="form-control" name="FirstName" autofocus>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="LastName">Soyisim</label>
                                        <input id="v" type="text" class="form-control" name="LastName">
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="AgencyName">Acente Adı</label>
                                        <input id="AgencyName" type="text" class="form-control" name="AgencyName" autofocus>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="Mail">Email</label>
                                        <input id="Mail" type="email" class="form-control" name="Mail">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="Password" class="d-block">Şifre</label>
                                        <input id="Password" type="Password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="TursabNo">Türsab Numarası</label>
                                        <input id="TursabNo" type="text" class="form-control" name="TursabNo" autofocus>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label>Faaliyet Bölgesi</label>
                                        <select class="form-control selectric" id="Region" name="Region">
                                            <option selected value="Kapadokya">Kapadokya</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label>Vergi Kimlik No</label>
                                        <input type="text" class="form-control" id="TaxNo" name="TaxNo">
                                    </div>
                                    <div class="form-group col-4">
                                        <label>Telefon Numarası</label>
                                        <input type="text" class="form-control" id="Phone" name="Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label>TC Kimlik No</label>
                                        <input type="text" class="form-control" id="Tc" name="Tc">
                                    </div>

                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="addNewAgency()" class="col-12 btn btn-primary btn-lg btn-block">
                                        Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
