
@{
    ViewBag.Title = "EditCapacity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="baslık">
    <h1 class="baslıkh1">
        Saatlere Göre Kapasite Ayarlama
    </h1>
</div>
<div class="row">

    <div class="container-fluid mt-4">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="mb-2" for="tourTypeId">Tur Kategorisi:</label>
                    <select id="tourTypeId" name="tourTypeId" class="form-control">
                        <option value="Select" disabled selected>Seç</option>
                        <option value="0">Hepsi</option>
                        <option value="horse">At Turu</option>
                        <option value="atv">ATV Turu</option>
                        <option value="jeep">Jeep Safari Turu</option>
                        <option value="ballon">Balon Turu</option>
                        <option value="camel">Deve Turu</option>
                    </select>
                </div>
            </div>
            <button type="button" onclick="getHoursCapacity()" class="btn btn-primary col-md-2" style="height:43px;">Listele</button>
        </div>
        <table class="table table-bordered table-hover w-100" id="hoursCapacityTable">
            <thead>
                <tr>
                    <th>Rezervasyon Türü</th>
                    <th>Saat</th>
                    <th>Kapasite</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


