
@{
    ViewBag.Title = "EditCapacity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="baslık">
    <h1 class="baslıkh1">
        Saatlere Göre Kapasite Ayarlama
    </h1>
</div>
<div class="row">

    <div class="col-12">
        <form id="EditCapacityForm">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mb-2" for="TourType">Tur Kategorisi:</label>
                        <select id="TourTypeId" name="TourTypeId" class="form-control">
                            <option value="seçiniz" disabled selected>Seç</option>
                            <option value="horse">At Turu</option>
                            <option value="atv">ATV Turu</option>
                            <option value="jeep">Jeep Safari Turu</option>
                            <option value="ballon">Balon Turu</option>
                            <option value="camel">Deve Turu</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mb-2" for="Hour">Saat Seçiniz:</label>
                        <select id="Hour" name="Hour" class="form-control">
                            <option value="seçiniz" disabled selected>Seç</option>
                            @for (int i = 0; i < 25; i++)
                            {

                                <option value="@(i < 10 ? "0" + i.ToString() : i.ToString()):00">@i:00</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="">Kapasite Giriniz:</label>
                        <div class="capacityselectcontainer"></div>
                        <input class="Capacity form-control" type="text" name="Capacity" value="" />
                    </div>
                </div>
                <button onclick="updateCapacity()" type="button" class="btn btn-primary col-md-2" style="height:50px;">Kapasiteyi Güncelle</button>
            </div>
        </form>

    </div>




</div>

<div class="baslık">
    <h1 class="baslıkh1">
        Saat Kapasitelerini Listele
    </h1>
</div>
<div class="row align-items-center">
    <!-- Dropdown Menü -->
    <div class="col-md-2">
        <label for="turSec">Tur Kategorisi:</label>
        <select id="turSec" name="turSec" class="form-control">
            <option value="seçiniz" disabled selected>Seç</option>
            <option value="atTur">At Turu</option>
            <option value="atvTur">ATV Turu</option>
            <option value="jeepSafari">Jeep Safari Turu</option>
            <option value="balonTur">Balon Turu</option>
            <option value="deveTur">Deve Turu</option>
        </select>
    </div>

    <!-- Buton -->
    <div class="col-md-4">
        <button class="btn btn-primary" style="height: 50px; margin-top: 30px;">Listele</button>
    </div>
</div>


<div class="container-fluid mt-4">
   
    <table class="table table-bordered table-hover w-100">
        <thead>
            <tr>
                <th>#</th>
                <th>Rezervasyon Türü</th>
                <th>Saat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>At Turu</td>
                <td>01:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>ATV Turu</td>
                <td>09:00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jeep Safari Turu</td>
                <td>15:00</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Deve Turu</td>
                <td>14:00</td>
            </tr>
        </tbody>
    </table>
</div>
