
@{
    ViewBag.Title = "EditClock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>
            Saatleri Pasife Çekme
        </h1>
    </div>
</section>
<div class="section-body8">


    <div class="container-fluid mt-4">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="mb-2" for="tourType">Tur Kategorisi:</label>
                    <select id="tourType" name="tourType" class="form-control">
                        <option value="Select" disabled selected>Seç</option>
                        <option value="0">Hepsi</option>
                        <option value="horse">At Turu</option>
                        <option value="atv">ATV Turu</option>
                        <option value="jeep">Jeep Safari Turu</option>
                        <option value="ballon">Balon Turu</option>
                        <option value="camel">Deve Turu</option>
                    </select>
                </div>
            </div>
            <button  type="button" onclick="getHours()" class="btn btn-primary col-md-4" style="height:50px;">Listele</button>
        </div>
        <table class="table table-bordered table-hover w-100" id="hoursTable">
            <thead>
                <tr>
                    <th>Rezervasyon Türü</th>
                    <th>Saat</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

