
@{
    Layout = null;

}

    <h2>Müşteri Detayları</h2>
    <div class="panel panel-default">
        <div class="panel-body">

            <section class="section">
                <div class="section-header">
                    <h1>Detaylar</h1>

                </div>
                <div class="section-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="activities">
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">

                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job text-primary">Acente Adı</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>X Acentesi </p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">

                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Mail</span>
                                            <span class="bullet"></span>


                                        </div>
                                        <p>xacentesi@gmail.com</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Tursab No</span>

                                        </div>
                                        <p>123123</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Telefon</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>77777777</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Vergi Kimlik Numarası</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>8888888888888</p>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


