
@{
    Layout = null;
}
<section class="section">
    <div class="section-header">
        <h1>Detaylar</h1>


    </div>
    <div>

        <div class="panel panel-default">
            <div class="panel-body">



                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Bilgi Türü</th>
                                        <th>Detay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Acente Adı</td>
                                        <td id="AgencyName"></td>
                                    </tr>
                                    <tr>
                                        <td>Mail</td>
                                        <td id="Mail"></td>
                                    </tr>
                                    <tr>
                                        <td>Tursab No</td>
                                        <td id="TursabNo"></td>
                                    </tr>
                                    <tr>
                                        <td>Telefon</td>
                                        <td id="Phone"></td>
                                    </tr>
                                    <tr>
                                        <td>Vergi Kimlik Numarası</td>
                                        <td id="TaxNo"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>