
@{
    Layout = null;
}


<form id="EditCapacityForm">
    <input type="hidden" name="TourTypeId" id="TourTypeId" value="" />
    <input type="hidden" name="Hour" id="Hour" value="" />
    <div class="row">
        <div class="form-group col-3">
            <label>Kapasite</label>
            <div class="">
                <input type="text" name="Capacity" id="Capacity" value="" />
            </div>
        </div>
        <div class="form-group col-3">
            <div class="">
                <button style="position:absolute; top:32px;margin-left:10px; height:31px;" type="button" class="btn btn-primary" onclick="updateCapacity()">Güncelle</button>
            </div>
        </div>
    </div>
</form>

