
@{
    ViewBag.Title = "frmRezervationDetails";
    Layout = null;
}
<head>


    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/components.css">
</head>
<div>
    <h2>Rezervasyon Detayları</h2>
    <div class="panel panel-default">
        <div class="panel-body">

            <section class="section">
                <div class="section-header">
                    <h1>Detaylar</h1>

                </div>
                <div class="section-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="activities">
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">

                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job text-primary">Adı Soyadı</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>Eray kaymak </p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">

                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Telefon Numarası</span>
                                            <span class="bullet"></span>


                                        </div>
                                        <p>xacentesi@gmail.com</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Otel Adı</span>

                                        </div>
                                        <p>123123</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Pasaport No</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>77777777</p>
                                    </div>
                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Kişi Sayısı</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>8888888888888</p>
                                    </div>


                                </div>
                                <div class="activity">
                                    <div class="activity-icon bg-primary text-white shadow-primary">
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2">
                                            <span class="text-job">Oda Numarası</span>
                                            <span class="bullet"></span>

                                        </div>
                                        <p>8888888888888</p>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- General JS Scripts -->
                <script src="~/Scripts/waves.js"></script>
                <script src="~/Scripts/jquery.min.js"></script>
                <script src="~/Scripts/popper.js"></script>
                <script src="~/Scripts/tooltip.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>
                <script src="~/Scripts/nicescroll/jquery.nicescroll.min.js"></script>
                <script src="~/Scripts/moment.min.js"></script>
                <script src="~/Scripts/stisla.js"></script>
                <!-- JS Libraies -->
                <!-- Page Specific JS File -->
                <!-- Template JS File -->
                <script src="~/Content/js/scripts.js"></script>
            </section>
        </div>
    </div>
</div>
