

@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <section class="section">
        <div class="section-header">
            <h1>Müşteriler</h1>
        </div>
    </section>
    <div class="card-header">
        <h4>Kayıtlı Acenteler</h4>
    </div>
    <div class="card-body p-0">

        <div class="table-responsive table-invoice">
            <table class="table table-striped" id="AgenciesTable">
                <thead>
                    <tr>
                        <th>Acente Adı</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Katılma Tarihi</th>
                        <th>Telefon No</th>
                        <th>Mail Adresi</th>
                        <th>Vergi No</th>
                        <th>Tursab No</th>
                        <th>Tc No</th>
                        <th>Bölge</th>
                        <th>Durumu Değiştir</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
