
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4>Kullanıcılar</h4>
        <div class="card-header-action">
            <a href="#" class="btn btn-danger">Daha Fazla Gör <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive table-invoice">
            <table class="table table-striped">
                <tr>
                    <th>Kullanıcı ID</th>
                    <th>Kullanıcı</th>
                    <th>Katılma Tarihi</th>
                    <th>Detaylar</th>
                </tr>
                <tr>
                    <td><a href="#">INV-87239</a></td>
                    <td class="font-weight-600">Kusnadi</td>
                   
                    <td>July 19, 2018</td>
                    <td>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">INV-48574</a></td>
                    <td class="font-weight-600">Hasan Basri</td>
                    <td>July 21, 2018</td>
                    <td>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">INV-76824</a></td>
                    <td class="font-weight-600">Muhamad Nuruzzaki</td>
                    <td>July 22, 2018</td>
                    <td>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">INV-84990</a></td>
                    <td class="font-weight-600">Agung Ardiansyah</td>
                    <td>July 22, 2018</td>
                    <td>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">INV-87320</a></td>
                    <td class="font-weight-600">Ardian Rahardiansyah</td>
                    <td>July 28, 2018</td>
                    <td>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>