
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <section class="section">
        

            <div class="section-header">
                <h1>Şifre Yenile</h1>

            </div>
        
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" style="display:flex;justify-content:center;">
                   

                    <div class="card card-primary">
                        <div class="card-header"><h4>Şifre Yenileme</h4></div>

                        <div class="card-body">

                            <form method="POST" id="changePasswordForm">
                                <div class="form-group">
                                    <label for="Mail">E-Mail</label>
                                    <input id="Mail" type="email" class="form-control" name="email" tabindex="1" autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="password">Yeni Şifre</label>
                                    <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password" tabindex="2">


                                    <div id="pwindicator" class="pwindicator">
                                        <div class="bar"></div>
                                        <div class="label"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password-confirm">Şifreyi Onayla</label>
                                    <input id="password-confirm" type="password" class="form-control" name="confirmPassword" tabindex="2">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Şifreyi Yenile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {
        $('#changePasswordForm').on('submit', function (e) {
            e.preventDefault();

            var currentPassword = $('#currentPassword').val();
            var password = $('#password').val();
            var confirmPassword = $('#password-confirm').val();

            $.ajax({
                url: '@Url.Action("ResetPassword","Home")',
                type: 'POST',
                data: {
                    password: password,
                    confirmPassword: confirmPassword,
                    currentPassword: currentPassword
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Başarılı!',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Tamam'
                        });
                    } else {
                        Swal.fire({
                            title: 'Hata!',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: 'Hata!',
                        text: 'Bir hata oluştu, lütfen tekrar deneyin.',
                        icon: 'error',
                        confirmButtonText: 'Tamam'
                    });
                }
            });
        });
    });
</script>
