

@model List<EntityLayer.Concrete.Reservation>

@{
    ViewBag.Title = "Rezervasyon Onayı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="section">
    <div class="section-header">
        <h1>
            Rezervasyonlar
        </h1>
    </div>
</section>



<div class="section-body">
    <div class="row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-2" for="turSec">Tur Kategorisi:</label>
                        <select id="turSec" name="turSec" class="form-control">
                            <option value="seçiniz" disabled selected>Seç</option>
                            <option value="atTur">At Turu</option>
                            <option value="atvTur">ATV Turu</option>
                            <option value="jeepSafari">Jeep Safari Turu</option>
                            <option value="balonTur">Balon Turu</option>
                            <option value="deveTur">Deve Turu</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="mb-2"  for="turSec">Saat Seçiniz:</label>
                        <select id="turSec" name="turSec" class="form-control">
                            <option value="seçiniz" disabled selected>Seç</option>
                            @for (int i = 0; i < 25; i++)
                            {
                                <option value="@i">@i:00</option>
                            }
                        </select>
                    </div>
                </div>
                <button href="" onclick="openFilterModal()" class="btn btn-primary col-md-4" style="height:38px;">Listele</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Rezervasyonlar</h4>
                </div>
                <div class="card-body">

                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Acenta Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Telefon</th>
                                <th>Otel Adı</th>
                                <th>Pasaport Numarası</th>
                                <th>Oda Numarası</th>
                                <th>Kişi Sayısı</th>
                                <th>Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

