

@model List<EntityLayer.Concrete.Reservation>

@{
    ViewBag.Title = "Rezervasyon Onayı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="section">
    <div class="section-header">
        <h1>
            Rezervasyonlar
        </h1>
    </div>
</section>



<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mb-2" for="TourTypeId">Tur Kategorisi:</label>
                        <select id="TourTypeId" name="TourTypeId" class="form-control">
                            <option value="-1" selected>Hepsi</option>
                            <option value="horse">At Turu</option>
                            <option value="atv">ATV Turu</option>
                            <option value="jeep">Jeep Safari Turu</option>
                            <option value="ballon">Balon Turu</option>
                            <option value="camel">Deve Turu</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mb-2" for="Hour">Saat Seçiniz:</label>
                        <select id="Hour" name="Hour" class="form-control">
                            <option value="-1" selected>Hepsi</option>
                            @for (int i = 0; i < 25; i++)
                            {

                                string formattedHour = i < 10 ? $"0{i}" : i.ToString();
                                <option value="@i">@formattedHour:00</option>

                            }
                        </select>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group  dropdown">
                        <label class="labelFeature" for="sure">Tur Tarihi:</label>
                        <input type="date" class="form-control" id="reservationDay1" placeholder="Seçin" autocomplete="off">


                    </div>
                </div>
                <button href="" onclick="createReservetionTable()" class="btn btn-primary col-md-3" style="height:38px; width:auto;">Listele</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Rezervasyonlar</h4>
                </div>
                <div class="card-body">

                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Acenta Adı</th>
                                <th>Tur Tipi</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Telefon</th>
                                <th>Otel Adı</th>
                                <th>Pasaport Numarası</th>
                                <th>Oda Numarası</th>
                                <th>Kapasite</th>
                                <th>Rezervasyon Tarihi</th>
                                <th>Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

