
@{
    ViewBag.Title = "SpecificEditCapacity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>


    #checkbox-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .checkbox-item {
        display: flex;
        align-items: center;
    }

    #time-display {
        margin: 20px 0;
        font-size: 1.5em;
        font-weight: bold;
    }
</style>
<div class="section" style="min-height:594px;">
    <div class="container-fluid mt-4">
        <div class="section-header">
            <h5>
                Özel Tarihli Kapasite Ayarla
            </h5>
        </div>
        <div class="section-body">
            <form id="SpecificDateCapacityForm">
                <div class="row d-flex justify-content-between">

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="calendar-container">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 flex-column">
                        <div style="display:flex; justify-content:space-between;">
                            <button id="select-all" type="button" class="btn btn-primary" onclick="SelectAll()">Tümünü Seç</button>
                            <button type="button" class="btn btn-danger" onclick="DeSelectAll()">Tümünü Kaldır</button>
                        </div>
                        <div id="checkbox-container" style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 30px;">
                            @for (int i = 1; i <= 24; i++)
                            {
                                string clock = i < 10 ? "0" + i.ToString() : i.ToString();

                                <div class="checkbox-item pb-1" style="display: flex; align-items: center; ">
                                    <input type="checkbox" id="@i" style="margin-right: 10px;" />
                                    <label for="checkbox-@clock:00">@clock:00</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-md-3">
                            <div class="form-group" >
                                <label for="TourTypeId">Tur Seçiniz:</label>
                                <select id="TourTypeId" name="TourTypeId" class="form-control">
                                    <option value="Select" disabled selected>Seç</option>
                                    <option value="horse">At Turu</option>
                                    <option value="atv">Atv Turu</option>
                                    <option value="jeep">Jeep Safari Turu</option>
                                    <option value="ballon">Balon Turu</option>
                                    <option value="camel">Deve Turu</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Capacity">Kapasite:</label>
                                <input class="form-control" type="text" name="Capacity" id="Capacity" value="" />
                            </div>
                            <div class="form-group">
                                <button type="button" onclick="CreateSpecificDateCapacity()" class="btn-booking w-100">Oluştur</button>
                            </div>
                    </div>




                </div>
            </form>






















            <div class="section-header">
                <h5>
                    Özel Tarihli Kapasiteleri Listele
                </h5>
            </div>

            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="mb-2" for="tourType">Tur Kategorisi:</label>
                        <select id="tourType" name="tourType" class="form-control">
                            <option value="Select" disabled selected>Seç</option>
                            <option value="0">Hepsi</option>
                            <option value="horse">At Turu</option>
                            <option value="atv">Atv Turu</option>
                            <option value="jeep">Jeep Safari Turu</option>
                            <option value="ballon">Balon Turu</option>
                            <option value="camel">Deve Turu</option>
                        </select>
                    </div>
                </div>

                <button type="button" onclick="CreateSpecificDateCapacityTable()" class="btn btn-primary col-md-2" style="height:43px; width:75px;">Listele</button>
            </div>
            <table class="table table-bordered table-hover w-100" id="specificHoursTable">
                <thead>
                    <tr>
                        <th>Rezervasyon Türü</th>
                        <th>Tarih</th>
                        <th>Kapasite</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>



