
@{
    ViewBag.Title = "SpecificClockSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section">
    <div class="section-header">
        <h5>
            Özel Saatlerin Durumunu Değiştirme
        </h5>
    </div>
    <div class="section-body">

        <form id="SpecificDateCapacityForm">
            <div class="row col-10">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="tourType">Tur Seçiniz:</label>
                        <select id="tourType" name="tourType" class="form-control">
                            <option value="Select" disabled selected>Seç</option>
                            <option value="0">Hepsi</option>
                            <option value="horse">At Turu</option>
                            <option value="atv">ATV Turu</option>
                            <option value="jeep">Jeep Safari Turu</option>
                            <option value="ballon">Balon Turu</option>
                            <option value="camel">Deve Turu</option>
                        </select>
                    </div>
                </div>
   

                <div class="col-md-2">
                    <button type="button" onclick="CreateSpecificDateStatusTable()" class="btn-booking">Listele</button>
                </div>

            </div>
        </form>


        <table class="table" id="specificClockStatusTable">
            <thead>
                <tr>
                    <th>Rezervasyon Türü</th>
                    <th>Tarih</th>
                    <th>Kapasite</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


</section>